{% extends "base.twig" %}
{% block title %}{{title}}{% endblock %}

{% block head %}
<link rel="alternate" title="Snom XML" type="application/xml" href="{{ filename|url_encode }}.xml">
{% endblock %}

{% block footer %}
- <a rel="nofollow" type="application/xml" href="{{ filename|url_encode }}.xml">Snom XML</a>
{% endblock %}

{% block content %}
 {% include 'indexes.twig' %}
<ul>
  {{entries|raw}}
</ul>
{% endblock %}
